.footer__column-link {
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.footer__column-link:last-of-type {
    margin-top: 16px;
}