<<<<<<< HEAD
.khan__book-pic {
    width: 620px;
    height: 608px;
    margin-right: 48px;
    object-fit: cover;
    object-position: top;
=======
.khan__book-pic {
    width: 620px;
    height: 608px;
    margin-right: 48px;
    object-fit: cover;
    object-position: top;
>>>>>>> 5122af77a7f67ebc6ceb89290df8088a9fae4d61
}